<div class="loading" lang="en" data-textdirection="ltr" id="html">
        <div class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns" id="body">
        <app-nav></app-nav>
        <div class="app-content content">
            <div class="content-wrapper">
                <div class="content-wrapper-before"></div>
                <div class="content-header row">
                    <div class="content-header-left col-md-4 col-12 mb-2">
                        <h3 class="content-header-title">Métricas</h3>
                    </div>
                </div>
                <div class="content-body">
                    <section id="global-settings" class="card">
                        <div class="card-content">
                            <div class="card-body">

                                    <select [(ngModel)]="selectedValueCorp" (change)="verC(selectedValueCorp)" style="margin-right: 30px;">
                                            <option selected>Seleccione corporativo</option>
                                            <option *ngFor="let corp of corporativo" [ngValue]="corp">
                                                {{corp.corporativodsc}}
                                            </option>
                                    </select> 

                                    <select [(ngModel)]="selectedValueCli" (change)="verClie(selectedValueCli)" style="margin-right: 30px;">
                                            <option selected>Seleccione un cliente</option>
                                            <option *ngFor="let cli of clienteI" [ngValue]="cli">{{cli.clientedsc}}</option>
                                    </select>

                                    <select [(ngModel)]="selectedValuePla" (change)="verPla(selectedValuePla)" style="margin-right: 30px;">
                                            <option selected>Seleccione un plan</option>
                                            <option *ngFor="let plan of planes" [ngValue]="plan" >{{plan.plandsc}}</option>
                                    </select>

                                    
                                <button class="btn btn-primary" (click)="clickAddMetrica()"style="float: right;">Agregar métrica</button>
    
    <table class="table table-striped" *ngIf="metricas && metricas.length > 0 ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Métrica</th>
                <th>Tipo</th>
                <th>Estatus</th>
                <th>Acciones</th>
    
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let metrica of metricas, let index = index">
                <td [ngClass]="{'done': metrica.done, 'not-done': !metrica.done}">{{metrica.id}}</td>
                <td [ngClass]="{'done': metrica.done, 'not-done': !metrica.done}">{{metrica.metricadsc}}</td>
                <td [ngClass]="{'done': metrica.done, 'not-done': !metrica.done}">{{metrica.tipo}}</td>
                <td [ngClass]="{'done': metrica.done, 'not-done': !metrica.done}">{{metrica.activo}}</td>
                <td>
                    <button class="btn btn-primary" (click)="handleEditClick(metrica)">Editar</button>
                    <button class="btn btn-danger" (click)="handleDeleteClick(metrica.id, index)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    
                            </div>
                        </div>
                    </section>
                </div>
                
            </div>
        </div>
        </div>
        </div>
        
    
