<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light">
    <div class="navbar-wrapper">
        <div class="navbar-container content"><!--color-->
            <div class="collapse navbar-collapse show" id="navbar-mobile">
                <ul class="nav navbar-nav mr-auto float-left">
                    <li class="nav-item dropdown navbar-search"><a class="nav-link dropdown-toggle hide" data-toggle="dropdown" href="#"><fa-icon [icon]="faSearch"></fa-icon></a>
                        <ul class="dropdown-menu">
                            <li class="arrow_box">
                                <form>
                                    <div class="input-group search-box">
                                        <div class="position-relative has-icon-right full-width">
                                            <input class="form-control" id="search" type="text" placeholder="Search here...">
                                            <div class="form-control-position navbar-search-close"><fa-icon [icon]="faWindowClose"></fa-icon></div>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav float-right">
                    <li id="email_ide"><a>{{email}}</a></li>
                    <li class="dropdown dropdown-user nav-item">
                        <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"><span class="avatar"><img src="assets/img/usuario.png" alt="avatar"><i></i></span></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="arrow_box_right">        
                                <a class="dropdown-item" href="/EditarPersonal"><i class="ft-user"></i> Editar Perfil</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"  (click)="authService.SignOut()"><i class="ft-power"></i> Cerrar Sesión</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true" data-img="assets/img/02.jpg">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto" routerLinkActive="active"><a class="navbar-brand" routerLink="/dashboard"><img class="brand-logo" alt="Chameleon admin logo" src="assets/img/logo.png"/></a></li>
            <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
        </ul>
    </div>
    <div class="main-menu-content menu-accordion">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="active" routerLinkActive="active"><a routerLink="/dashboard"><i class="ft-home"><fa-icon [icon]="faHome"></fa-icon></i>Dashboard</a></li>
            <li class=" nav-item"><a><i class="ft-grid"><fa-icon [icon]="faBuilding"></fa-icon></i><span class="menu-title" data-i18n="">Corporativos</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" routerLink="/Corporativo" routerLinkActive="active">Corporativo</a></li>
                    <li><a class="menu-item" routerLink="/Cliente" routerLinkActive="active">Cliente</a></li>
                    <li><a class="menu-item" routerLink="/Plan" routerLinkActive="active">Plan</a></li>
                    <li><a class="menu-item" routerLink="/Proyecto" routerLinkActive="active">Proyecto</a></li>
                </ul>
            </li>
            <li class="nav-item"><a><i class="ft-grid"><fa-icon [icon]="faCopyright"></fa-icon></i><span class="menu-title" data-i18n="">Catálogos</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" routerLink="/Marcas" routerLinkActive="active">Marcas</a></li>
                    <li><a class="menu-item" routerLink="/Productos" routerLinkActive="active">Productos</a></li>
                    <li><a class="menu-item" routerLink="/Metricas" routerLinkActive="active">Métricas</a></li>
                </ul>
            </li>
            <li class=" nav-item"><a><i class="ft-grid"><fa-icon [icon]="faCopyright"></fa-icon></i><span class="menu-title" data-i18n="">Rol de trabajo</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" routerLink="/MetricasProductos" routerLinkActive="active">Marcas Productos</a></li>
                </ul>
            </li>
            <li class="nav-item"><a><i class="ft-grid"><fa-icon [icon]="faStore"></fa-icon></i><span class="menu-title" data-i18n="">Tiendas</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" routerLink="/Cadena" routerLinkActive="active">Cadena</a></li>
                    <li><a class="menu-item" routerLink="/Formato" routerLinkActive="active">Formato</a></li>
                    <li><a class="menu-item" routerLink="/Canal" routerLinkActive="active">Canal</a></li>

                </ul>
            </li>
            <li class="nav-item"><a><i class="ft-grid"><fa-icon [icon]="faStore"></fa-icon></i><span class="menu-title" data-i18n="">Tiendas</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" routerLink="/Cadena" routerLinkActive="active">Cadena</a></li>
                    <li><a class="menu-item" routerLink="/Formato" routerLinkActive="active">Formato</a></li>
                    <li><a class="menu-item" routerLink="/Canal" routerLinkActive="active">Canal</a></li>
                    <li><a class="menu-item" routerLink="/Estado" routerLinkActive="active">Estado</a></li>
                    <li><a class="menu-item" routerLink="/Ciudad" routerLinkActive="active">Ciudad</a></li>
                    <li><a class="menu-item" routerLink="/Region" routerLinkActive="active">Region</a></li>
                </ul>
            </li>
            <li class="nav-item"><a><i class="ft-grid"><fa-icon [icon]="faStore"></fa-icon></i><span class="menu-title" data-i18n="">Tiendas</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" routerLink="/Cadena" routerLinkActive="active">Cadena</a></li>
                    <li><a class="menu-item" routerLink="/Formato" routerLinkActive="active">Formato</a></li>
                    <li><a class="menu-item" routerLink="/Canal" routerLinkActive="active">Canal</a></li>
                    <li><a class="menu-item" routerLink="/Estado" routerLinkActive="active">Estado</a></li>
                    <li><a class="menu-item" routerLink="/Ciudad" routerLinkActive="active">Ciudad</a></li>
                    <li><a class="menu-item" routerLink="/Region" routerLinkActive="active">Region</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="navigation-background"></div>
</div>