<div class="loading" lang="en" data-textdirection="ltr" id="html">
        <div class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns" id="body">
        <app-nav></app-nav>
        <div class="app-content content">
            <div class="content-wrapper">
                <div class="content-wrapper-before"></div>
                <div class="content-header row">
                    <div class="content-header-left col-md-4 col-12 mb-2">
                        <h3 class="content-header-title">Metricas productos</h3>
                    </div>
                </div>
                <div class="content-body">
                    <section id="global-settings" class="card">
                        <div class="card-content">
                            <div class="card-body">
    
                                    <select >
                                            <option selected>Seleccione un plan</option>
                                    </select>
                                    
                                <button class="btn btn-primary" (click)="clickAddMetricaPro()"style="float: right;">Asignar</button>
    
   
    
                            </div>
                        </div>
                    </section>
                </div>
                
            </div>
        </div>
        </div>
        </div>
        
    
