<div class="loading" lang="en" data-textdirection="ltr" id="html">
    <div class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns" id="body">
        <app-nav></app-nav>
        <div class="app-content content">
            <div class="content-wrapper">
                <div class="content-wrapper-before"></div>
                <div class="content-header row">
                    <div class="content-header-left col-md-4 col-12 mb-2">
                        <h3 class="content-header-title">juan@controlplus.mx</h3>
                    </div>
                </div>
                <div class="content-body">
                    <section id="global-settings" class="card">
                        <div class="card-header">
                            <h4 class="card-title">Ciudad</h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h1 for="Estado">Estado</h1>
                                <select class="form-control" [(ngModel)]="selectedEstado" (change)="getListCiudad()">
                                    <option selected>Seleccionar Estado</option>
                                    <option *ngFor="let est of estadoI" [ngValue]="est">
                                        {{est.estadodsc}}
                                    </option>
                                </select>          
                            </div>     
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#ModalCiudad">Agregar</button>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col" >#</th>
                                            <th scope="col">Ciudad</th>
                                            <th scope="col">Activo</th>
                                            <th colspan="2" scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let ciu of ciudadI"> 
                                            <th scope="row">{{ciu.idciudad}}</th>
                                            <td>{{ciu.ciudaddsc}}</td>
                                            <td>{{ciu.activo}}</td>
                                            <td><button class="btn btn-primary" (click)=onPreUpdateCiudad(ciu) data-toggle="modal" data-target="#ModalCiudad">Editar</button></td>
                                            <td><button class="btn btn-danger" (click)="onDeleteCiudad(ciu.idciudad)">Eliminar</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal></app-modal>